body {
    margin: 0 auto;
}

/************* NAVBAR ***************/

.navbar {
    width: 100%;
    background-color:#000;
    height: 80px;
    position: fixed;
    top: 0px;
    z-index: 100;
}

.logo {
    margin: 15px 0px 0px 10px;
}

.nav-list {
    float: right;
}

.list-item {
    display: inline-block;
    padding: 10px 40px;
    font-weight: 700;
    line-height: 25px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.list-item a {
    text-decoration: none;
    color:#c3cad8;
    transition: 1s;
}

.list-item a:hover {
    color:#34b6ff;
    font-size: 36px;
}

/************** Banner ***************/

.banner {
    background-image: url(/images/yosemite-background.jpg);
    background-size: cover;
    margin-top: 80px;
    width: 100%;
    height: 800px;
    position: relative;
}

@keyframes banner {
    0% {background-color: #c3cad8;}
    50% {background-color: #fff;}
    100% {background-color: #c3cad8;}
}

.banner-stripe {
    width: 100%;
    background-color: #c3cad8;
    opacity: .6;
    height: 180px;
    position: absolute;
    top: 280px;
    text-align: center;
    animation-name: banner;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.banner-container {
    text-align: center;
    top: 280px;
}

.banner-text {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    margin: 0;
    display: inline-block;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 290px;
    z-index: 50;
}

.banner-sub {
    font-size: 50px;
    top: 370px;
}

/************* Home Page Info **********/

.home-container {
    background-color: #000;
    height: 500px;
    width: 100%;
    position: relative;
}

.home-info-container {
    height: 300px;
    width: 550px;
    position: absolute;
    left: 52%;
    top:120px;
}

.home-info {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.profile {
    border: 3px solid #c3cad8;
    border-radius: 50%;
    position: absolute;
    height: 350px;
    left: 500px;
    top: 40px;
}

/************* About Page ************/

.abt-container {
    background-color: #000;
    height: 1200px;
}

.abt-title {
    text-align: center;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #34b6ff;
    position: absolute;
    top: 50px;
    width: 100%;
}

.abt-col {
    width: 30%;
    height: 900px;
    margin-top: 150px;
    padding: 0 25px;
    display: inline-block;
    float: left;
}

.abt-header {
    color: #34b6ff;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
}

.abt-p {
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.abt-img {
    height: 250px;
    display: block;
    margin: 0 auto;
    transition: 1s;
}

.abt-img:hover {
    height: 400px;
}

.map {
    display: inline-block;
    padding-left: 77px;
}

/************* Contact Page **********/

.contact-section {
    width:100%;
    text-align: center;
    height: 850px;
    background-color: #000;
}

.form-heading {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #34b6ff;
    padding-top: 80px;
}

.form-container {
    width: 600px;
    height: 500px;
    display: inline-block;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 10px;
    border: 3px solid #34b6ff;
}
/************* Footer ***************/

.footer {
    background-color: #000;
    color: #34b6ff;
    width: 100%;
    height: 80px;
    padding-top: 10px;
}

.input-box {
    margin-left: 25px;
    width: 350px;
}

.footer-col {
    width: 33%;
    height: 40px;
    display: inline-block;
}

.copyright {
    text-align: center;
    font-size: 24px;
}

.social {
    text-align: center;
}

.social a {
    text-decoration: none;
    color:#c3cad8;
    transition: 1s;
}

.social a:hover {
    font-size: 28px;
    color:#34b6ff;
}

.fab {
    padding: 0px 10px;
}


